bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
**/node_modules
**/hmr/out
/src/Fablish/bin/Release
/src/Fablish/bin/Debug
/src/fablish-hmr/bin/Debug
/src/fablish-hmr/bin/Release
