source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base.FSharp      ~> 2.4.5
nuget Aardvark.Base.Incremental ~> 2.4.5

nuget FsPickler                            ~> 3.2.0
nuget FsPickler.Json                       ~> 3.2.0

nuget Another.Unofficial.Xilium.CefGlue              = 0.0.9
nuget Another.Unofficial.Xilium.CefGlue.WindowsForms = 0.0.9

nuget SharpZipLib  ~> 0.86.0
nuget Mono.Cecil   ~> 0.9.6.4

nuget FSharp.Compiler.Service  ~> 8.0.0


group Build
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget ILRepack

github vrvis/Aardvark.Fake:customPaket