type project
id Fablish
authors VRVis Research Center
description
    Elm architecture for user interfaces implemented in .NET
frameworkAssemblies
    System.Drawing
	System.Windows.Forms
files
	..\..\bin\Release\Fablish.exe ==> lib\net45
    ..\..\bin\Release\Fablish.pdb ==> lib\net45